pidfile = "{{ mackerel_agent.pidfile }}"
root = "{{ mackerel_agent.root }}"
verbose = true
apikey = "{{ mackerel_agent_apikey }}"

{% for plugin in mackerel_agent.plugins %}
[plugin.metrics.{{ plugin.metric_name }}]
command = "{{ plugin.command }}"
{% endfor %}
