pidfile = "{{ mackerel_agent.pidfile }}"
root = "{{ mackerel_agent.root }}"
verbose = true
apikey = "{{ encrypted.mackerel_agent.apikey }}"

{% for plugin in mackerel_agent.plugins %}
[plugin.metrics.{{ plugin.metric_name }}]
command = "{{ plugin.command }}"
{% endfor %}
